.App {
  text-align: center;
  width: 480px;
}

.AppHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: white;
}

.AppLink {
  color: #61dafb;
}

.DownloadButton {
  display: flex;
  padding: 12px;
  background-color: #61dafb;
  cursor: pointer;
}

.Container {
  display: flex;
  margin: auto;
}
